<ion-header *ngIf="!isComponent">
  <ion-navbar>
    <ion-toolbar>
      <ion-searchbar #searchbar secondary readonly [(ngModel)]="searchContent" (click)="startSearch()" placeholder="搜索"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="mcatalog">
    <ion-segment-button value="new" (click)="search()">
      新进导师
    </ion-segment-button>
    <ion-segment-button value="pop" (click)="search()">
      人气导师
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item-sliding (click)="showDetail(item)" [hidden]="!item.isFollow && isAttention" *ngFor="let item of advisorList;let k = index">
      <button ion-item detail-push>
        <ion-avatar item-left>
          <img src="assets/img/avatar-luke.png">
        </ion-avatar>
        <h2>{{item.mastername}}</h2>
        <p>{{item.fields}}</p>
        <h2>本月接单&nbsp;{{item.monthCount}}</h2>
        <div item-right text-right>
          <ion-badge>{{item.level}}</ion-badge>
          <p padding-top>{{item.lastTime}}</p>
        </div>
      </button>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="showDetail(item)">
          <ion-icon name="more"></ion-icon>
          更多
        </button>
        <button ion-button color="primary" [hidden]="item.isFollow" (click)="follow(item)">
          <ion-icon name="add"></ion-icon>
          关注
        </button>
        <button ion-button color="light" [hidden]="!item.isFollow" (click)="cancelFollow(item)">
          <ion-icon name="remove"></ion-icon>
          取消关注
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
